
@font-face {
    font-family: 'base4';
    src: url('../fonts/base4.ttf');
    font-weight: 700;
    font-style: normal;
}
body{
	margin: 0px;
}


header {
	background:#fff;
	color:#E7B72E;
}

.main {
	background:#F7F7F7;
}

.color1 {
	background: #CCCCCC;
	color:#808080;
}
/*************** Contenedor verde ***************/
.verde {
 background: #FFCB48;
 height: 80px;
 line-height: 13px;
 padding-right: 1em;

 
/* padding-top: 1em;*/
}

/*************** logo header ***************/
.logo-header {
 background: #90BC9A;
 height: 80px;
 padding-left: 80px;
 padding-top: 20px;
  
/* padding-top: 1em;*/
}

.fijo{
position: fixed;
width: 100%;
height:100%;
}
/*************** barra-menu ***************/
.barra-menu {
 background: #E27161;
 position: fixed;
 height: 100%;
 line-height: 13px;
 padding: 0px;
/*padding-top: 60em;*/
}

.lista-menu{
list-style-type: none;
 margin: 0px;
 padding: 0px;

}

.submenu{
	width: 100%;
	height: 70px;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 1px; 
	text-align: center;
	 margin-top: 50px;
	 padding-right: 20px;

}

.submenu a{

	color:white;
 font-family: "base4";
}

/******************** Registro ********************/
.navR li {
	display: inline-block;
	float: right;
	font-size: 1em;
	font-weight: 19em;
	margin-bottom: 0;
	margin-left: 50px;
	padding-top: 20px;
	  
}
.navR li a{
	color:white;
	font-family: "base4";
}

.cregistro { /*Caracteristicas registro*/

	padding-right: 15em;
}

.campo {
	margin-bottom: 15px;
}

.campo input{
	margin-top: 7px;
}
.campo textarea{
	margin-top: 7px;
}

.cfooter{
	position:  absolute;
	bottom: 0;

}
footer {
	background:#E9F679;
	color:#fff;
}
