<!DOCTYPE html>
{% load staticfiles %}
{% load tulia_tags %}

<html>
<head>
  <meta charset="UTF-8">
  <title>Tulia | Web Page</title>

  <link href="{% static "bootstrap-3.3.7/css/bootstrap.min.css" %}" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="{% static "css/fonts.css" %}">
	<link rel="stylesheet"  href="{% static "css/estilosContacto.css" %}" >
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto|Roboto+Mono|Roboto+Slab' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yantramanav:100" rel="stylesheet">

  <link href="{% static "css/style.css" %}" rel="stylesheet" />

</head>




<div class="modal fade" id="modal_ventana" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notificaciones</h4>
      </div>
      <div  id="modal_ventana_contenido" class="modal-body" style="">



      </div>


    </div>
  </div>
</div>



{% with user|get_notificaciones as notis %}


<div class="modal fade" id="modal_alerta" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notificaciones</h4>
      </div>
      <div class="modal-body" style="">


{% if notis%}        
        {% for n in notis%}
        <div class="row">
        
        <div class="col-md-4">
        	
<div class="" style="display: inline-block; width: 100%;height: auto;padding-top: 100%; background-image: url('{{n.imagen.url}}'); background-size: cover; background-position: center;"></div>
        </div>

        <div class="col-md-8">
        	<span> {{n.contenido}}</span>
        </div>

</div>
{% if not forloop.last%}
<hr>        
{%endif%}
        {%endfor%}
        {%endif%}
      </div>
<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="limpiarNotificaciones('{{user.username}}')">Aceptar</button>
        </div>

    </div>
  </div>
</div>


<body>
  <div class="container-fluid fijo" >
		<div class="row verde">
		<div class="col-md-2">

		<a href="{%if user and user.lector %}/comunidades/{%else%}/{%endif%}" >
				<div class=" logo-header">
					<img class="img-responsive center-block" src="{% static "imagenes/marca.png"%}" align="left" alt="">
				</div>
		</a>
		</div>

		<div class="col-md-7" >


<div class="col-md-4 seccion-header 
{%if seccion_header == 'Explora' %}
seccion-seleccionada
{% endif %}
" >
<a href="/explora/">
	Explora	
</a>
	</div>


<div class="col-md-4 seccion-header 
{%if seccion_header == 'Comunidades' %}
seccion-seleccionada
{% endif %}" > 
<a href="{%if user and user.lector %}/comunidades/{%else%}/inicia_sesion/{%endif%}">
Mi tablero	
</a>
</div>
<div class="col-md-4 seccion-header 
{%if seccion_header == 'Destacados' %}
seccion-seleccionada
{% endif %}" >	
<a href="/destacados/">
Destacados	
</a>
</div>
		</div>

		<div class="col-md-3" align="right" >
			{%if notis%}
			<i class="fa fa-bell" style="color: white; font-size: 25px; margin-top: 15px;" data-toggle="modal" data-target="#modal_alerta" onclick="limpiarNotificaciones('{{user.username}}')" ></i>

			<script type="text/javascript">
				function limpiarNotificaciones(username) {
						$.ajax({
							url: "/ver-notificaciones/"+username ,
							success: function(result) {
								// alert(result);	
							}
						});


					}
				</script>


			{%endif%}


{%if user and user.lector%}
<ul class="menu-imagen-header">
<li>
<div class="" style="display: inline-block; width: 70px;height: 60px; background-image: url('{{user.lector.imagen.url}}'); background-size: cover; background-position: center; border-left-style: solid; border-right-style: solid; border-color: #223072; border-width:5px;"></div>
</li>
<li class="dropdown  ">
	<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" style="color: white;">

		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu dropdown-menu-right" style="color: black;">
		<li><a href="/comunidades/"><!--{{user.username}}-->Mi tablero</a></li>
		<li><a href="/update/perfil/">Editar perfil</a></li>
		<li><a href="/crea/comunidad/">Crear comunidad</a></li>
		<li><a href="/cerrar_sesion/">Cerrar sesión </a></li>
	</ul>
</li>
</ul>

	<!--<ul class="" style="display: inline-block;" >

	<li>{{user.username}}</li>

	<li><a href="/cerrar_sesion/">Cerrar Sesión </a></li>


				</ul> Fin registro -->	

{%else%}
	<ul class="navIndex">
				<li><a href="/registrate/">Regístrate </a></li>
				<li><a href="#">|</a></li>
					<li><a href="/inicia_sesion/"> Ingresa </a></li>
				</ul><!-- Fin registro -->	

{%endif%}
			
		

		<div  style="clear: both;"></div>	
			</div>


		</div>
	</div>


	<div class="container-fluid" >



			<div class="row content" style=" background-color: white; min-height: 700px; margin-top: 40px;">

			{% block content %}
			{% endblock %}


		</div>
		<div class="row">
			<!-- Footer -->
			<div class="verde col-md-12 texto-footer">
				<p><center>Copyright V. Hoyos • Cali, Colombia • Tel: 310 8491453 </center>
				</p>
			</div><!-- Fin footer -->
		</div>
	</div>



  <script src="{% static "js/jquery-1.12.2.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/app.js" %}"></script>

{% if notis %}
  <script>
$(document).ready(function(){
        $("#modal_alerta").modal();
		
});
</script>
{%endif%}
</body>
{% endwith %}
</html>
