<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
  <meta charset="UTF-8">
  <title>Tulia | Web Page</title>

  <link href="{% static "bootstrap-3.3.7/css/bootstrap.min.css" %}" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="{% static "css/fonts.css" %}">
	<link rel="stylesheet"  href="{% static "css/estilosContacto.css" %}" >
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto|Roboto+Mono|Roboto+Slab' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yantramanav:100" rel="stylesheet">

  <link href="{% static "css/style.css" %}" rel="stylesheet" />

</head>

<body>
  <div class="container-fluid fijo" >
		<div class="row verde">
		<div class="col-md-2">
		<a href="/">
				<div class=" logo-header">
					<img class="img-responsive center-block" src="{% static "imagenes/marca.png"%}" align="left" alt="">
				</div>
		</a>
		</div>

		<div class="col-md-7" >


<div class="col-md-4 seccion-header 
{%if seccion_header == 'Explora' %}
seccion-seleccionada
{% endif %}
" >
<a href="/explora/">
	Explora	
</a>
	</div>


<div class="col-md-4 seccion-header 
{%if seccion_header == 'Comunidades' %}
seccion-seleccionada
{% endif %}" > 
<a href="/comunidades">
Mis comunidades	
</a>
</div>
<div class="col-md-4 seccion-header 
{%if seccion_header == 'Destacados' %}
seccion-seleccionada
{% endif %}" >	
<a href="/destacados/">
Destacados	
</a>
</div>
		</div>


		<div class="col-md-3" >


{%if user and user.lector%}

<div class="" style="display: inline-block; width: 70px;height: 60px; background-image: url('{{user.lector.imagen.url}}'); background-size: cover; background-position: center; border-left-style: solid; border-right-style: solid; border-color: green; border-width:5px;"></div>

	<ul class="" style="display: inline-block;" >

	<li>{{user.username}}</li>

	<li><a href="/cerrar_sesion/">Cerrar Sesión </a></li>


				</ul><!-- Fin registro -->	




{%else%}
	<ul class="navIndex">
				<li><a href="/registrate/">Regístrate </a></li>
				<li><a href="#">|</a></li>
					<li><a href="/inicia_sesion/"> Ingresa </a></li>
				</ul><!-- Fin registro -->	

{%endif%}
			
		

		<div style="clear: both;"></div>	
			</div>


		</div>
	</div>


	<div class="container-fluid" >



			<div class="row content" style=" background-color: white; min-height: 700px; margin-top: 40px;">


			{% block content %}
			{% endblock %}


		</div>
		<div class="row">
			<!-- Footer -->
			<div class="verde col-md-12 texto-footer">
				<p><center>Copyright V. Hoyos • Cali, Colombia • Tel: 310 8491453 </center>
				</p>
			</div><!-- Fin footer -->

		</div>
	</div>



  <script src="{% static "js/jquery-1.12.2.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/app.js" %}"></script>
</body>

</html>
