{% extends 'base.html' %}
{% block content %}

{% block base_body %}
{% load crispy_forms_tags %}
<!-- TOP BANNER DETAILS -->
<div class="" style="padding:50px;">
  <div class="row" >
	<div class="col-lg-4 col-md-6 col-xs-12 col-lg-offset-4 col-md-offset-3 col-xs-offset-0">
    {% csrf_token %}
    {% crispy form %}
    </div>

  </div>

<div id="mapa-inicial">
<div class="row">
{% include "map.html" with  alto_mapa="200" %}
</div>
</div>

</div>
<script>
  $("form").validate();
</script>

<script>
window.onload=function() {

$("#seleccionar_tipo").html(

'<div class="row" align="center"> <div class="col-md-3" onclick ="cambiarTipo(0)"> <div id="btn-biblioteca" class="boton-tipo"> <i class="fa fa-bank"></i><br>Biblioteca</div> 	</div> <div class="col-md-3" onclick="cambiarTipo(2)"> <div id="btn-casa" class="boton-tipo"> <i class="fa fa-home"></i><br>Casa</div> </div> <div class="col-md-3" onclick="cambiarTipo(3)">	<div id="btn-parque" class="boton-tipo"> <i class="fa fa-tree"></i><br>Parque</div> </div> <div class="col-md-3" onclick="cambiarTipo(4)"> <div id="btn-cafeteria" class="boton-tipo"> <i class="fa fa-coffee"></i><br>Cafetería</div> </div> </div>'
	);

	cambiarTipo(0);
//$("#mapa-inicial").html()
	$("#seleccionar_mapa").html($("#mapa-inicial").html());
	$("#mapa-inicial").html("");


 agregarMarkeralClick();



}


function cambiarTipo(tipo){
	var ant=$("#id_tipo").val();
		$("#id_tipo").val(tipo);
	switch(ant){
		case "0": // biblioteca		
			$("#btn-biblioteca").removeClass("boton-tipo-activo");
		break;
		case "2": // casa
		$("#btn-casa").removeClass("boton-tipo-activo");
		break;
		case "3": // parque
		$("#btn-parque").removeClass("boton-tipo-activo");
		break;
		case "4": // cafetería
		$("#btn-cafeteria").removeClass("boton-tipo-activo");
		break;
		
	}

	switch(tipo){
		case 0: // biblioteca		
			$("#btn-biblioteca").addClass("boton-tipo-activo");
		break;
		case 2: // casa
		$("#btn-casa").addClass("boton-tipo-activo");
		break;
		case 3: // parque
		$("#btn-parque").addClass("boton-tipo-activo");
		break;
		case 4: // cafetería
		$("#btn-cafeteria").addClass("boton-tipo-activo");
		break;
		
	}

}

	function nombreUsuario() {
		var x = document.getElementById("id_username").value;
		if(x=="holi"){
			$("#id_latitud").addClass("campo-incorrecto");
			$("#id_longitud").removeClass("campo-correcto");
		}else{
			$("#id_username").addClass("campo-correcto");	
			$("#id_username").removeClass("campo-incorrecto");
		}
	}

		function correoUsuario() {
		var x = document.getElementById("id_email").value;
		if(x.includes("@") & x.includes(".com")){
			$("#id_email").addClass("campo-correcto");	
			$("#id_email").removeClass("campo-incorrecto");
		}else{
			
			$("#id_email").addClass("campo-incorrecto");
			$("#id_email").removeClass("campo-correcto");
		}
	}
    
</script>

{% endblock base_body %}

{% endblock content %}
