
{% load staticfiles %}

<div class="col-md-3" style=" overflow: hidden;"  data-toggle="modal" data-target="#modal_titulo_reto"> 
  <img src='{% static 'imagenes/icono_mision1.png' %}' style="margin: 10px auto; width: 100%;height: auto;">
</div>


<div class="modal fade" id="modal_{{id}}" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Medalla</h4>
      </div>
      <div class="modal-body" style="">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img src='{% static 'imagenes/icono_mision1.png' %}' style="margin: 10px auto; width: 100%;height: auto;">
          </div>
        </div>
        <div class="row">

          <div class="col-md-12" align="center" style="font-family: 'Yantramanav'; color: black; font-size: 14px;">
            <b style="font-family: 'roboto'; font-size:18px;">0/1</b>
            <br>
            <b>Esta medalla se gana cuando te unes a una comunidad lectora de Tulia.</b>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

