{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

<div class="comunidad-fondo" style="position: relative; /*background-image: url('{{comunidad.imagen.url}}');*/background-color: #187774; ">
	<div class="texto-medio" >
		<h1>{{comunidad.nombre}}   </h1>
		
<div class="sobre-boton-registro"  style="padding-bottom: 120px;">
				<a href="" class="boton-registro " align="center">
			
					UNIRME

				</a>
			</div>	

	</div>
	<div class="col-md-4 col-xs-12" style=" position: absolute; bottom: 0px; height: 40px;" >
		<div class="row" >
			<div id="pestana_actividades" class="col-md-3 col-xs-3 submenu-comuni submenu-comuni-selec" onclick="cambiar_pestana('actividades')"> Actividades	</div>
			<div id="pestana_miembros" class="col-md-3 col-xs-3 submenu-comuni" onclick="cambiar_pestana('miembros')"> Miembros </div>
			<div id="pestana_informacion" class="col-md-3 col-xs-3 submenu-comuni " onclick="cambiar_pestana('informacion')" > Información	</div>
			<div id="pestana_foro" class="col-md-3 col-xs-3 submenu-comuni " onclick="cambiar_pestana('foro')"> Foro	</div>
		</div>
	</div>
	
</div>

<div id="miembros" class="hidden">
	<div class="franja-comunidad col-md-12 letra-submen"><h1>
		Participantes de esta comunidad	
	</h1></div>
	<div class="container">
			{% for admin in admins%}
				{% include "lector_vista_min.html" with lector=admin isAdmin=True %}
			{%endfor%}
			{% for participante in participantes%}
				{% include "lector_vista_min.html" with lector=participante isAdmin=False %}
			{%endfor%}
	</div>
</div>

<div id="actividades" class="">
	<div class="franja-comunidad col-md-12 letra-submen"><h1>
		Encuentros programados por esta comunidad	
	</h1></div>
	<div class="container">
	{% for taller in talleres%}
				{% include "vista_actividades_comunidad.html" with taller=taller %}
			{%endfor%}

	</div>
</div>

<div id="foro" class="hidden">
	<div class="franja-comunidad col-md-12 letra-submen"><h1>
		{{foro.titulo}}	
	</h1></div>
	<div class="container">

<div class="col-md-12 ">
<div class="row seccion-rec-pop">
<div class="col-md-6">Entradas más recientes </div>
 <div class="col-md-6">Entradas más populares </div>
</div> 
	{% for cate in foro.categoria.all%}
	{% for tema in cate.tema.all%}
		<div class="hidden">
				{% cycle 'rgba(243,247,248,1)' 'rgba(243,247,248,1)' 'rgba(243,247,248,1)' as color%}
		</div>
				{% include "vista_foro_comunidad.html" with categoria=cate tema=tema color=color %}
			{%endfor%}
	{%endfor%}		

</div>
	</div>
</div>

<div id="informacion" class="hidden">
	<div class="franja-comunidad col-md-12 letra-submen"><h1>
		Acerca de esta comunidad	
	</h1></div>
	<div class="container">
	
				{% include "vista_informacion_comunidad.html" %}
		
	</div>
</div>


<script ">
var anterior="actividades"
	function cambiar_pestana (id){
	if(id!= anterior){

		

		$("#pestana_"+anterior).removeClass("submenu-comuni-selec");
		$("#"+anterior).addClass("hidden");  

		$("#"+id).removeClass("hidden");  
		$("#pestana_"+id).addClass("submenu-comuni-selec");

		
		anterior=id;
	}
}


</script>

{% endblock content %}