{% load staticfiles %}

<div class="col-md-12 seccion-actividad ">

<div class="row boton-foro" style="">
	
	<div class="col-md-3 no-padding"><div class="imagen-actividad" style="background-image: url('{{taller.imagen.url}}')">
 </div>

  </div>
 <div class="col-md-9 texto-par-dos " style="padding-bottom: 20px;">


 <h4 style="color:#99be16; font-family: Raleway; font-size: 26px;">{{taller.nombre}}</h4> 
 	
<p style="padding-top:20px;"><strong>Fecha y hora:</strong> {{taller.fecha}} </p>

<p><strong>Descripción de la actividad:</strong> <br> {{taller.descripcion}} </p>


<div class="sobre-boton-actividad" align="left" >
				<a href="" class="boton-actividad"  data-toggle="modal" data-target="#modal_{{taller.slug}}" >
			
					Ver actividad

				</a>
			</div>

 </div>

</div>


</div>

{%include 'vista_actividad.html' with taller=taller%}

