{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



<div class="">
<div class="row">
<div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0 texto-par-dos " style="padding-top: 27px; color: black; font-size: 22px;">
	<p><strong> {{categoria.titulo}} </strong></p>				
</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0 texto-par-dos " style="color: gray !important; font-size: 20px;">
	<span> 
	<a href="/comunidades/{{comunidad.slug}}">{{comunidad.nombre}}</a> 
	/
	<a href="/comunidades/{{comunidad.slug}}/foro">foro</a> 
	/
	<a href="/foro/{{foro.slug}}/{{categoria.slug}}">{{categoria.titulo}}</a> 


	</span>

</div>
</div>
</div>

<div class="col-md-10">
<a href="/crea/tema/{{comunidad.slug}}/{{categoria.slug}}/">
<div style="float: right; ">
 <i class="fa fa-plus" style="color: black; font-size: 25px; padding-top: 0px;"> </i>
	<spam style="color:black; font-size: 15px;  vertical-align: middle;">  
	  Nuevo tema</spam>
</div>
</a></div>




<div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0 texto-par-dos "  style="margin-top: 20px; ">
<!--
	<p>
		{{categoria.descripcion}}
	</p>-->


	{% for tema in categoria.tema.all %}
				{% include "vista_foro_comunidad.html" with foro=foro cate=categoria tema=tema %}
	{% endfor %}


</div>





{% endblock content %}
