{% load staticfiles %}

<div class="col-md-12 seccion-actividad ">

<div class="row" style="background-color: rgba(243,247,248,1); color: rgb(53,53,76);">
	
	<div class="col-md-3 no-padding"><div class="imagen-actividad" style="background-image: url('{{taller.imagen.url}}')">
 </div>

  </div>
 <div class="col-md-9 texto-par-dos" style="padding-bottom: 20px;">


 <strong>{{taller.nombre}}</strong> 
 	
<p style="padding-top:30px;"><strong>Fecha y hora:</strong> {{taller.fecha}} </p>
<p><strong>Lugar:</strong> {{taller.lugar}} </p>
<p><strong>Descripción de la actividad:</strong> <br> {{taller.descripcion}} </p>


<div class="sobre-boton-actividad" align="left" >
				<a href="" class="boton-actividad"  data-toggle="modal" data-target="#modal_{{taller.slug}}" >
			
					Ver actividad

				</a>
			</div>

 </div>

</div>


</div>

{%include 'vista_actividad.html' with taller=taller%}

